*~
*.la
*.o
*.lo
*.so
*.a
stamp-h1
Doxyfile
doc
aclocal.m4
config.guess
config.log
config.sub
configure
install-sh
missing
ltmain.sh
depcomp
Makefile
Makefile.in
compile
config.status
autom4te.cache
libtool
m4
tools/lgkg
*/.deps
*/.libs
include/golle/config.h
tests/list
tests/set
tests/randomness
tests/distribution
tests/keygen
tests/buffer
tests/commitment
tests/elgamal
